<div class="form">

  <%= form_for @profile, html: { multipart: true } do |f| %>

    <% @profile.errors.full_messages.each do |msg| %>
      <p><%= msg %></p>
    <% end %>

    <%= f.label :first_name, class: "form-field" %>
    <br>
    <%= f.text_field :first_name, placeholder: "First Name", class: "form-field" %>
    <br>
    <%= f.label :last_name, class: "form-field" %>
    <br>
    <%= f.text_field :last_name, placeholder: "Last Name", class: "form-field" %>
    <br>
    <%= f.label :bio, class: "form-field" %>
    <br>
    <%= f.text_area :bio, rows: 5, placeholder: "Tell us about yourself..", class: "form-area" %>
    <br>

    <p> Upload a photo of yourself </p>
      <% if @profilephoto %>
        <%# @profilephotos.each do |photo| %>
          <%= image_tag @profilephoto.image %>
          <%= link_to "Delete", profile_photo_path( @profilephoto.id ), method: :delete, data: { confirm: "Are you sure?" } %>
        <%# end %>
      <% end %>

    <%= file_field_tag "images[]", type: :file, multiple: true %>

    <br>
    <%= f.submit (@profile.new_record? ? "Create Profile" : "Update Profile") %>

  <% end %>

</div>
