<div class="container">

  <h2> Hello, <%= @profile.first_name %>! </h2>

  <div class="profile-info">

    <div class="profile-details">
      <h3> Profile info: </h3>
        <p> First name: <%= @profile.first_name %> </p>
        <p> Last name: <%= @profile.last_name %> </p>
        <p> About me: <%= @profile.bio %> </p>
        <p> <%= link_to "Update", edit_profile_path(@profile) %>
    </div>

    <div class="profile-photo">
      <%# @profilephotos.each do |photo| %>
        <% if @profilephoto %>
          <%= image_tag @profilephoto.image %>
        <% end %>
      <%# end %>
    </div>

  </div>

  <div class="product-options">
    <h3> Your current additions: </h3>
    <% @products.each do |product| %>
      <p>
        <%= link_to product_path(product.id) do %>
          <%= product.name %>
        <% end %> -->

        <%= link_to "Edit", edit_product_path(product.id) %> -->
        <%= link_to "Delete", product_path(product.id), method: :delete, data: { confirm: "Are you sure?" } %>
      </p>
    <% end %>

    <h3> Have something new to add? </h3>
    <%= link_to "New addition", new_product_path %>
  </div>

</div>
