<div class="container">
  <h2> Hello, <%= @profile.first_name %>! </h2>

  <div class="profile-info">

    <div class="profile-details">
      <h3> Profile info: </h3>
        <p> First name: <%= @profile.first_name %> </p>
        <p> Last name: <%= @profile.last_name %> </p>
        <p> About me: <%= @profile.bio %> </p>
        <p> <%= link_to "Update", edit_profile_path(@profile) %>
    </div>

    <div class="profile-photo">
      <h3> Photo coming soon! </h3>
    </div>

  </div>

</div>
