<div class="container">

  <h2> Hello, <%= @profile.first_name %>! </h2>

<!-- START: PROFILE INFORMATION AND PICTURE -->
  <div class="profile-info">

    <div class="profile-details">
      <h3> Profile info: </h3>
        <p> First name: <%= @profile.first_name %> </p>
        <p> Last name: <%= @profile.last_name %> </p>
        <p> About me: <%= @profile.bio %> </p>
        <% if current_user.id == @profile.user.id %>
          <p> <%= link_to "Update", edit_profile_path(@profile) %>
        <% end %>
    </div> <!-- class: profile-details -->

    <div class="profile-photo">
      <% if @profilephoto %>
        <%= image_tag @profilephoto.image %>
      <% end %>
    </div> <!-- class: profile-photo -->

  </div> <!-- class: profile-info -->

<!-- END: PROFILE INFORMATION AND PICTURE -->

  <% if current_user.id == @profile.user.id %>  <!-- START: AUTHENTICATE CURRENT USER == PROFILE -->
  <div class="profile-management">

<!-- START: MANAGING PRODUCTS -->
    <% if @products.length > 0 %>
    <div class="product-options">
        <h3> Your current additions: </h3>
        <% @products.each do |product| %>
          <p>
            <%= link_to product_path(product.id) do %>
              <%= product.name %>
            <% end %> -->

            <%= link_to "Edit", edit_product_path(product.id) %> -->
            <%= link_to "Delete", product_path(product.id), method: :delete, data: { confirm: "Are you sure?" } %>
          </p>
        <% end %>
    <% end %>

<!-- START: ADDING A NEW PRODUCT -->
        <%= link_to new_product_path do %>
          <h3> Have a new suggestion to add? </h3>
        <% end %>
<!-- END: ADDING A NEW PRODUCT -->
    </div> <!-- class: product-options -->
<!-- END: MANAGING PRODUCTS -->

<!-- START: MANAGING FRIENDS -->
      <div class="friends-list">
        <h3> Friends Management </h3>

        <div class="friends">
          <h3> Your friends: </h3>
        </div> <!-- class: friends -->

        <div class="friend-requests">
          <h3> Requesting to be friends: </h3>

          <% current_user.inverse_friendships.each do |inverse_friendship| %>
            <div class="friend">
              <%= link_to profile_path(inverse_friendship.friend.profile.id) do %>
                <%= inverse_friendship.friend.email %>
              <% end %>
            </div> <!-- class: friend -->
          <% end %>

        </div> <!-- class: friend-requests -->

        <div class="pending-friend-requests">
          <h3> Pending friend requests: </h3>

          <% current_user.friendships.each do |friendship| %>
            <div class="friend">
              <%= link_to profile_path(friendship.friend.profile.id) do %>
                <%= friendship.friend.email %>
              <% end %>
               -->
              <%= link_to "Cancel request", friendship, :method => :delete, data: { confirm: "Are you sure?" } %>
            </div> <!-- class: friend -->
          <% end %>

        </div> <!-- class: pending-friend-requests -->
      </div> <!-- class: friends-list -->
    </div> <!-- class: profile-management -->
<!-- END: MANAGING FRIENDS -->

  <% else %>  <!-- CONTINUE: AUTHENTICATE CURRENT USER == PROFILE -->

<!-- START: IF THIS IS NOT CURRENT USER'S PROFILE AND YOU ARE NOT FRIENDS YET -->
    <% current_user.friendships.each do |friendship| %>
      <% if friendship.friend_id != @profile.user.id %>
        <%= link_to friendships_path(:friend_id => @profile.user), :method => :post do %>
          <h3> Let's connect! </h3>
        <% end %>
      <% else %>
        <h3> You're friends! </h3>
      <% end %>
    <% end %>
<!-- END: IF THIS IS NOT CURRENT USER'S PROFILE AND YOU ARE NOT FRIENDS YET -->

  <% end %>  <!-- END: AUTHENTICATE CURRENT USER == PROFILE -->
</div> <!-- class: container -->
