<div class="form">

  <%= form_for @product, html: { multipart: true } do |f| %>

    <% @product.errors.full_messages.each do |msg| %>
      <p><%= msg %></p>
    <% end %>

    <%= f.label :name, class: "form-field" %>
    <br>
    <%= f.text_field :name, placeholder: "Last Name", class: "form-field" %>
    <br>
    <%= f.label :description, class: "form-field" %>
    <br>
    <%= f.text_area :description, rows: 5, placeholder: "Tell us about this addition..", class: "form-area" %>
    <br>

    <p> Upload a photo of the addition </p>
      <% if @productphoto %>
        <%# @profilephotos.each do |photo| %>
          <%= image_tag @productphoto.image %>
          <%= link_to "Delete", product_photo_path( @productphoto.id ), method: :delete, data: { confirm: "Are you sure?" } %>
        <%# end %>
      <% end %>

    <%= file_field_tag "images[]", type: :file, multiple: true %>


    <%= f.submit (@product.new_record? ? "Create Addition" : "Update Addition") %>

  <% end %>

</div>
